.contactbg{
    
    padding: 1rem;
    background-image: url("../asset/contact-us-customer-support-service-260nw-420893623.webp");
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
    
}

.photo{
    height: 395px;
    width: 600px; 
}
