.Menubg{
    
    padding: 1rem;
    background-image: url("../asset/pngtree-the-elegant-restaurant-menu-pattern-vector-diagram-picture-image_453015.jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
    
}